.cookie__popup {
  max-width: 907px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  align-items: center;
  gap: clamp(20px, 4.85vw, 40px);
  background-color: #fff;
  color: black;
  border-radius: clamp(12px, 1.14vw, 16px);
  padding: 10px 20px;
  border: 1px solid #302f2f;
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  font-size: 18px;
  transition: all 1s ease-in-out;
  z-index: 1000;
}

.cookie__btn__wrapper {
  max-width: 124px;
  width: 100%;
}

.cookie__img {
  width: 85px;
  height: 71px;
}

.cookie__text span {
  display: block;
}

.hide {
  bottom: -1000px;
  display: none;
}

@media (max-width: 767px) {
  .cookie__img {
    display: none;
  }

  .cookie__popup {
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    padding: 20px;
    gap: 0;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
  }

  .cookie__btn__wrapper {
    max-width: 280px;
    margin-top: 20px;
  }
}

@media (max-width: 906px) {
  .cookie__text span {
    display: inline;
  }
}
